body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.own-button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
}

.own-button.extend {

  background: var(--bs-gray-600);
  border-radius: 50%;
  color:white;
  align-self: center;
  margin-left: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.done {
  height: 2em;
  width: 2em;
  color: var(--bs-success);
}
.update {
  height: 2em;
  width: 2em;
  color: var(--bs-warning);
}
.delete {
  height: 2em;
  width: 2em;
  color: var(--bs-danger);
}

.done:hover,.update:hover,.delete:hover {
  cursor: pointer;
}

